In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import sklearn

In [5]:
import keras

In [8]:
import tensorflow as tf

In [9]:
df=pd.read_csv("car_prices.csv")

In [10]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [14]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [34]:
df=df.dropna()

In [37]:
len(df["model"].unique())

768

In [46]:
df_final=df.drop(["seller","saledate","model",'trim',"vin"],axis=1)

In [47]:
df_final

,year,make,body,transmission,state,condition,odometer,color,interior,mmr,sellingprice
0,2015,Kia,SUV,automatic,ca,5.0,16639.0,white,black,20500.0,21500.0
1,2015,Kia,SUV,automatic,ca,5.0,9393.0,white,beige,20800.0,21500.0
2,2014,BMW,Sedan,automatic,ca,45.0,1331.0,gray,black,31900.0,30000.0
3,2015,Volvo,Sedan,automatic,ca,41.0,14282.0,white,black,27500.0,27750.0
4,2014,BMW,Sedan,automatic,ca,43.0,2641.0,gray,black,66000.0,67000.0
...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,Sedan,automatic,fl,39.0,66403.0,white,brown,20300.0,22800.0
558833,2012,Ram,Crew Cab,automatic,wa,5.0,54393.0,white,black,30200.0,30800.0
558834,2012,BMW,SUV,automatic,ca,48.0,50561.0,black,black,29800.0,34000.0
558835,2015,Nissan,sedan,automatic,ga,38.0,16658.0,white,black,15100.0,11100.0
558836,2014,Ford,SuperCrew,automatic,ca,34.0,15008.0,gray,gray,29600.0,26700.0

In [48]:
df_final=pd.get_dummies(df_final)

In [49]:
df_final

,year,condition,odometer,mmr,sellingprice,make_Acura,make_Aston Martin,make_Audi,make_BMW,make_Bentley,...,interior_green,interior_off-white,interior_orange,interior_purple,interior_red,interior_silver,interior_tan,interior_white,interior_yellow,interior_—
0,2015,5.0,16639.0,20500.0,21500.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2015,5.0,9393.0,20800.0,21500.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2014,45.0,1331.0,31900.0,30000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,2015,41.0,14282.0,27500.0,27750.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2014,43.0,2641.0,66000.0,67000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,39.0,66403.0,20300.0,22800.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
558833,2012,5.0,54393.0,30200.0,30800.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
558834,2012,48.0,50561.0,29800.0,34000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
558835,2015,38.0,16658.0,15100.0,11100.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
558836,2014,34.0,15008.0,29600.0,26700.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [50]:
df_final.replace({True:1,False:0},inplace=True)

/tmp/ipykernel_121712/4064013816.py:1: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

In [51]:
df_final

,year,condition,odometer,mmr,sellingprice,make_Acura,make_Aston Martin,make_Audi,make_BMW,make_Bentley,...,interior_green,interior_off-white,interior_orange,interior_purple,interior_red,interior_silver,interior_tan,interior_white,interior_yellow,interior_—
0,2015,5.0,16639.0,20500.0,21500.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,5.0,9393.0,20800.0,21500.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2014,45.0,1331.0,31900.0,30000.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2015,41.0,14282.0,27500.0,27750.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2014,43.0,2641.0,66000.0,67000.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,39.0,66403.0,20300.0,22800.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
558833,2012,5.0,54393.0,30200.0,30800.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
558834,2012,48.0,50561.0,29800.0,34000.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
558835,2015,38.0,16658.0,15100.0,11100.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
558836,2014,34.0,15008.0,29600.0,26700.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
model=keras.Sequential([
    keras.layers.Dense(215,activation=tf.nn.relu,input_shape=(215,)),
    keras.layers.Dense(215,activation=tf.nn.relu),
    keras.layers.Dense(215,activation=tf.nn.relu),
    keras.layers.Dense(1,activation=tf.nn.sigmoid)
])

/home/pratyaksh/miniconda3/envs/django/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning:

Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.

In [72]:
x=df_final.drop("sellingprice",axis=1)

In [73]:
y=df_final["sellingprice"]

In [76]:
model.compile(
    loss=keras.losses.categorical_crossentropy,
    optimizer="adam",
    metrics=["accuracy"]
)

In [77]:
model.fit(x,y,epochs=5)

Epoch 1/5

/home/pratyaksh/miniconda3/envs/django/lib/python3.12/site-packages/keras/src/losses/losses.py:33: SyntaxWarning:

In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(None, 1). Consider using 'binary_crossentropy' if you only have 2 classes.

14761/14761 ━━━━━━━━━━━━━━━━━━━━ 15s 973us/step - accuracy: 0.0000e+00 - loss: nan
Epoch 2/5
14761/14761 ━━━━━━━━━━━━━━━━━━━━ 16s 1ms/step - accuracy: 0.0000e+00 - loss: nan
Epoch 3/5
14761/14761 ━━━━━━━━━━━━━━━━━━━━ 17s 1ms/step - accuracy: 0.0000e+00 - loss: nan
Epoch 4/5
14761/14761 ━━━━━━━━━━━━━━━━━━━━ 17s 1ms/step - accuracy: 0.0000e+00 - loss: nan
Epoch 5/5
14761/14761 ━━━━━━━━━━━━━━━━━━━━ 16s 1ms/step - accuracy: 0.0000e+00 - loss: nan