In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('car-sales-missing-data.csv')

In [6]:
x=df['Colour']

In [8]:
y=df['Make']

In [13]:
y

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9       NaN
Name: Make, dtype: object

In [15]:
di={
    'Make':y,
    'Colour':x
}

In [16]:
df2=pd.DataFrame(di)

In [17]:
df2

     Make Colour
0  Toyota  White
1   Honda    Red
2  Toyota   Blue
3     BMW  Black
4  Nissan  White
5  Toyota  Green
6   Honda    NaN
7   Honda   Blue
8  Toyota  White
9     NaN  White

In [18]:
df2.to_csv('test1.csv')

In [20]:
df['Make'].dtype

dtype('O')

In [21]:
df2.describe()

          Make Colour
count        9      9
unique       4      5
top     Toyota  White
freq         4      4

In [22]:
s1=pd.Series([1,2,3,4,5,2,5,7,7,5,4,4,6,7])
s1.mean()

np.float64(4.428571428571429)

In [25]:
df.groupby('Doors')

TypeError: agg function failed [how->mean,dtype->object]

In [29]:
df.columns.to_numpy()

array(['Make', 'Colour', 'Odometer', 'Doors', 'Price'], dtype=object)

In [32]:
df.tail(3)

     Make Colour  Odometer  Doors   Price
7   Honda   Blue       NaN    4.0     NaN
8  Toyota  White   60000.0    NaN     NaN
9     NaN  White   31600.0    4.0  $9,700

In [33]:
df['Odometer'].mean()

np.float64(92302.66666666667)

In [34]:
df[df['Odometer']>10000]

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700