In [2]:
import pandas as pd
import numpy as np

In [3]:
indedays=np.array(['monday','tuesday','wednesday','thursday','friday'])
df=pd.DataFrame(index=indedays,data={'peanut':np.random.randint(0,10,size=5),
'jelly':np.random.randint(0,10,size=5),'almond':np.random.randint(0,10,size=5),'cashew':np.random.randint(0,10,size=5)})

In [4]:
df

           peanut  jelly  almond  cashew
monday          7      1       6       0
tuesday         6      0       9       5
wednesday       5      0       8       3
thursday        0      7       6       5
friday          5      5       0       6

In [5]:
dfprice=pd.DataFrame(index=['price'],data={'peanut':10,"jelly":12,"almond":20,"cashew":15})
dfprice

       peanut  jelly  almond  cashew
price      10     12      20      15

In [6]:
result=dfprice.dot(df.transpose())
result

       monday  tuesday  wednesday  thursday  friday
price     202      315        255       279     200

In [7]:
df

           peanut  jelly  almond  cashew
monday          7      1       6       0
tuesday         6      0       9       5
wednesday       5      0       8       3
thursday        0      7       6       5
friday          5      5       0       6

In [8]:
dfprice

       peanut  jelly  almond  cashew
price      10     12      20      15

In [9]:
result

       monday  tuesday  wednesday  thursday  friday
price     202      315        255       279     200

In [10]:
int(result.transpose()["price"].sum())

1251

In [11]:
df

           peanut  jelly  almond  cashew
monday          7      1       6       0
tuesday         6      0       9       5
wednesday       5      0       8       3
thursday        0      7       6       5
friday          5      5       0       6

In [12]:
df["total"]=result.transpose()

In [13]:
df

           peanut  jelly  almond  cashew  total
monday          7      1       6       0    202
tuesday         6      0       9       5    315
wednesday       5      0       8       3    255
thursday        0      7       6       5    279
friday          5      5       0       6    200

In [14]:
df.to_csv("practice1.csv")

In [15]:
from matplotlib.image import imread

In [16]:
dog=imread("pexels-chevanon-1108099.jpg")

In [17]:
type(dog)

numpy.ndarray

In [18]:
dog.size

60466176

In [19]:
dog.ndim

3

In [20]:
dog.shape

(3888, 5184, 3)

In [21]:
dog

array([[[ 74,  95,  56],
        [ 74,  95,  56],
        [ 74,  95,  56],
        ...,
        [ 71,  93,  55],
        [ 71,  93,  55],
        [ 71,  93,  55]],

       [[ 74,  95,  56],
        [ 74,  95,  56],
        [ 74,  95,  56],
        ...,
        [ 71,  93,  55],
        [ 71,  93,  55],
        [ 71,  93,  55]],

       [[ 74,  95,  56],
        [ 74,  95,  56],
        [ 74,  95,  56],
        ...,
        [ 71,  93,  55],
        [ 71,  93,  55],
        [ 71,  93,  55]],

       ...,

       [[ 81,  88,  54],
        [ 81,  88,  54],
        [ 81,  88,  54],
        ...,
        [125,  97,  50],
        [125,  97,  50],
        [125,  97,  50]],

       [[ 81,  88,  54],
        [ 81,  88,  54],
        [ 81,  88,  54],
        ...,
        [127,  96,  50],
        [127,  96,  50],
        [127,  96,  50]],

       [[ 81,  88,  54],
        [ 81,  88,  54],
        [ 81,  88,  54],
        ...,
        [127,  96,  50],
        [127,  96,  50],
        [127,  96,  50]]], dtype=uint8)

In [24]:
dog

array([[[ 74,  95,  56],
        [ 74,  95,  56],
        [ 74,  95,  56],
        ...,
        [ 71,  93,  55],
        [ 71,  93,  55],
        [ 71,  93,  55]],

       [[ 74,  95,  56],
        [ 74,  95,  56],
        [ 74,  95,  56],
        ...,
        [ 71,  93,  55],
        [ 71,  93,  55],
        [ 71,  93,  55]],

       [[ 74,  95,  56],
        [ 74,  95,  56],
        [ 74,  95,  56],
        ...,
        [ 71,  93,  55],
        [ 71,  93,  55],
        [ 71,  93,  55]],

       ...,

       [[ 81,  88,  54],
        [ 81,  88,  54],
        [ 81,  88,  54],
        ...,
        [125,  97,  50],
        [125,  97,  50],
        [125,  97,  50]],

       [[ 81,  88,  54],
        [ 81,  88,  54],
        [ 81,  88,  54],
        ...,
        [127,  96,  50],
        [127,  96,  50],
        [127,  96,  50]],

       [[ 81,  88,  54],
        [ 81,  88,  54],
        [ 81,  88,  54],
        ...,
        [127,  96,  50],
        [127,  96,  50],
        [127,  96,  50]]], dtype=uint8)