In [65]:
import pandas as pd
import numpy as np

In [66]:
df=pd.read_csv("survey lung cancer.csv")
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [67]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [68]:
categories1=["GENDER"]
categories2=["LUNG_CANCER"]

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer

In [70]:
onehot=OneHotEncoder()
x=df.drop(["LUNG_CANCER"],axis=1)
y=df["LUNG_CANCER"]

In [75]:
transformer1=ColumnTransformer([("one_hot1",onehot,categories1)],remainder="passthrough")
transformer2=ColumnTransformer([("one_hot2",onehot,categories2)],remainder="passthrough")

In [78]:
transformed_x=transformer1.fit_transform(x)

In [80]:

transformed_y=transformer2.fit_transform(df)

In [81]:
df=df

array([[0.0, 1.0, 'M', ..., 2, 2, 2],
       [0.0, 1.0, 'M', ..., 2, 2, 2],
       [1.0, 0.0, 'F', ..., 2, 1, 2],
       ...,
       [0.0, 1.0, 'M', ..., 1, 1, 2],
       [0.0, 1.0, 'M', ..., 2, 1, 2],
       [0.0, 1.0, 'M', ..., 1, 2, 1]], dtype=object)